/* src/pages/BankHomePage.css */
.bank-homepage {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #00cc52;

    color: white;
    text-align: center;
    padding: 20px;
  }
  
  .navbar {
    background-color: #00cc52;
    text-align: center;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .nav-links a:hover {
    text-decoration: underline;
  }
  
  .hero {
    text-align: center;
    background-color: #f0f0f0;
    padding: 50px 20px;
  }
  
  .cta-button {
    background-color: #00cc52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cta-button:hover {
    background-color: #002f6c;
  }
  
  .about, .services, .testimonials, .contact {
    padding: 40px 20px;
    text-align: center;
  }
  
  .about p, .services ul, .testimonials blockquote {
    margin: 20px 0;
  }
  
  .footer {
    background-color: #0044cc;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  